<style>
    .craft-layout-builder-field-picker,
    .craft-layout-builder-field-picker * {
        box-sizing: border-box;
    }
    .craft-layout-builder-field-picker {
        position: fixed;
        top: 0;
        right: 0;
        width: 351px;
        /*width: 576px;*/
        height: 100vh;
        background: #fff;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        z-index: 100;
        padding: 24px;
        transform: translateX(100%);
        transition: transform 0.2s;
    }
    .craft-layout-builder-field-picker.entering,
    .craft-layout-builder-field-picker.active {
        transform: translateX(0%);
    }
    .craft-layout-builder-grid {
        display: grid;
        grid-gap: 24px;
    }
    .craft-layout-builder-layout {
        border: 1px solid transparent;
        border-radius: 2px;
        position: relative;
        padding: 0 10px 10px;
        margin-left: -10px;
        margin-right: -10px;
        /*background-color: #eeeeee;*/
    }
    .craft-layout-builder-layout:focus {
        outline: none;
        border-color: #0D99F2;
    }
    .craft-layout-builder-layout-title {
        /*font-size: 11px;*/
        color: #666;
        /*text-transform: uppercase;*/
        /*font-weight: bold;*/
        /*border-bottom: 1px solid #eee;*/
    }
    .craft-layout-builder-cells {
        margin-left: 24px;
    }
    .craft-layout-builder-cell {
        /*border: 1px solid rgba(0, 0, 20, 0.1);*/
        /*border-radius: 2px;*/
        position: relative;
        /*padding: 24px 8px 5px;*/
        /*background: #fff;*/
        overflow: hidden;
        margin: -6px;
        padding: 5px;
        border: 1px solid transparent;
    }
    .craft-layout-builder-cell.empty {
        /*text-align: center;*/
        /*padding: 24px;*/
        /*border: 1px dashed #ccc;*/
        /*padding: 10px;*/
    }
    .craft-layout-builder-cell-icon {
        fill: #666;
        margin-left: 5px;
        margin-right: 10px;
        display: inline-block;
        width: 18px;
        height: 18px;
        position: relative;
        bottom: -3px;
        cursor: move;
    }
    .craft-layout-builder-cell-title {
        /*position: absolute;*/
        /*top: 3px;*/
        /*left: 8px;*/
        font-size: 11px;
        color: #999;
    }
    .craft-layout-builder-active-picker {
        border: 1px solid #0D99F2;
    }
    .craft-layout-builder-block-editor {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 101;
        /*transform: translateX(576px);*/
        background-color: rgba(255,255,255,0);
    }



    #global-container {
        transition: transform 0.2s;
    }
    .block-editor-active #global-container,
    .block-editor-leaving #global-container {
        transition: transform 2s;
    }
    .craft-layout-builder-block-editor {
        transition: transform 0.2s, background-color 0.2s;
    }
    .craft-layout-builder-block-editor.active {
        transition: transform 2s, background-color 0.2s;
    }
    .craft-layout-builder-block-editor-placeholder {
        transition: transform 0.2s;
    }
    .craft-layout-builder-block-editor-screen {
        transition: transform 0.2s;
    }






    #global-container {
        transform: translateX(0);
    }
    .block-editor-entering #global-container,
    .block-editor-active #global-container {
        transform: translateX(-225px);
    }
    .craft-layout-builder-block-editor.entering,
    .craft-layout-builder-block-editor.active {
        /*transform: translateX(0);*/
        background-color: rgba(255,255,255,0.7);
    }
    .craft-layout-builder-block-editor-placeholder {
        position: absolute;
        top: 0;
        right: 0;
        width: 576px;
        height: 100vh;
        background-color: #e7eef3;
        transform: translateX(576px);
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
    }
    .craft-layout-builder-block-editor.entering .craft-layout-builder-block-editor-placeholder,
    .craft-layout-builder-block-editor.active .craft-layout-builder-block-editor-placeholder {
        /*transition: transform 0.4s;*/
        transform: translateX(0);
    }
    .craft-layout-builder-block-editor-shade {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,0.5);
        -webkit-backdrop-filter: blur(2px);
    }
    .craft-layout-builder-block-editor-screen {
        position: absolute;
        top: 0;
        /*left: 300px;*/
        /*width: calc(100vw - 300px);*/
        right: 0;
        width: 100vw;
        /*background: transparent;*/
        height: 100vh;
        transform: translateX(576px);
        /*transition: transform 0.3s;*/
        /*box-shadow: 0 0 30px rgba(0,0,0,0.3);*/
    }
    .craft-layout-builder-block-editor.active .craft-layout-builder-block-editor-screen {
        transform: translateX(0);
    }
    .craft-layout-builder-blocks.empty {
        background-color: rgba(0, 0, 20, 0.05);
        border: 1px solid rgba(0, 0, 20, 0.05);
        text-shadow: 0 1px 0 #fff;
    }
    .craft-layout-builder-block-placeholder {
        padding: 5px 10px;
        color: #ccc;
    }
    .craft-layout-builder-block {
        background-color: white;
        /*background: rgba(0, 0, 20, 0.1);*/
        border-radius: 2px;
        padding: 5px;
        border: 1px solid rgba(0, 0, 20, 0.1);
        font-size: inherit;
        /*box-shadow: 0 1px 2px rgba(0,0,0,0.2);*/
    }
    .craft-layout-builder-block:focus {
        outline: none;
        border: 1px solid #0D99F2;
    }
    .craft-layout-builder-block.selected {
        background: #e7eef3;
    }
    .craft-layout-builder-block img {
        position: relative;
        top: 3px;
        margin-right: 10px;
    }
    .craft-layout-builder-block-title {
        color: inherit;
    }
    .craft-layout-builder-spacing > * + * {
        margin-top: 10px;
    }
    .craft-layout-builder-drop-target,
    #craft-layout-builder-drop-target {
        box-sizing: content-box;
        position: fixed;
        top: -100px;
        left: 0;
        height: 4px;
        width: 200px;
        border-radius: 2px;
        z-index: 200;
        transform: translateY(-50%);
        display: none;
        animation: pulse 1.25s infinite;
        --scaleX: 1.05;
        pointer-events: none;
    }
    @keyframes pulse {
        0% {
            /*margin-left: 0px;*/
            /*padding-left: 0;*/
            /*padding-right: 0;*/
            transform: translateY(-50%) scaleX(1);
        }
        50% {
            /*margin-left: -10px;*/
            /*padding-left: 10px;*/
            /*padding-right: 10px;*/
            transform: translateY(-50%) scaleX(var(--scaleX));
        }
        100% {
            /*margin-left: 0;*/
            /*padding-left: 0;*/
            /*padding-right: 0;*/
            transform: translateY(-50%) scaleX(1);
        }
    }
    button.btn {
        font-size: inherit;
    }
</style>

<div data-layout-builder-field data-handle="{{ field.handle }}" data-layouts='{{ (value|default([]))|json_encode }}'></div>

{#<div class="rows">
    {% for row in rows %}
        <div style="background-image: url(/cpresources/f323ae84/images/fieldlayoutform-bg.png); border: 1px solid rgba(0,0,0,0.1); margin: 10px 0; border-radius: 5px; overflow: hidden;">
            <div style="background:#ebedef; border-bottom: 1px solid #e3e5e8; padding: 5px;">
                <div class="checkbox" title="Select"></div>
                Row {{ loop.index }}
            </div>
            <div style="padding: 24px;">
                <div class="btn add icon dashed" data-layoutbuilder-add-element>Add an element</div>
            </div>
        </div>
    {% endfor %}
</div>
<div class="buttons last">
    <div class="btngroup">
        <div class="btn add icon" data-layoutbuilder-add-row data-elementid="{{ element.id }}" data-fieldid="{{ field.id }}">Add a row</div>
    </div>
</div>

{% js %}
    $(document).on('click', '[data-layoutbuilder-add-row]', function (event) {
        $.post('{{ actionUrl('layoutbuilder/row/store') }}', {
            'elementId': $(event.target).data('elementid'),
            'fieldId': $(event.target).data('fieldid')
        }, function (data) {
            //console.log('got back', data);
        });
    });

    $(document).on('click', '[data-layoutbuilder-add-element]', function (event) {
        $.post('{{ actionUrl('layoutbuilder/element/new') }}', {
        }, function (data) {
            var style = [
                'position: fixed;',
                'top: 0;',
                'right: 0;',
                'height: 100%;',
                'width: 75%;',
                'background: #fff;',
                'z-index: 100;',
                'box-shadow: 0 25px 100px rgba(0, 0, 0, 0.5);',
                'overflow: auto;',
                'box-sizing: border-box;'
            ];
            $(document.body).append('<div class="" style="'+style.join('')+'">'+data+'</div>');
        });
    });

    $(document).on('beforeSaveShortcut', function (event) {
        alert('foo bar');
    });
{% endjs %}
#}

{#
<input type="hidden" name="fields[layoutBuilder]" value="">

<div style="display: grid; grid-template-columns: 2fr 1fr; grid-gap: 24px;">
    <div id="{{ id }}" class="fieldlayoutform elements" style="outline: 1px solid #e3e5e8; min-height: 100px;">
        <div id="foo-entry"
             class=""
             data-type="craft\elements\Entry"
             data-id="9"
             data-site-id="1"
             data-status="live"
             data-label="My Awesome Entry"
             data-url="http://dev.craftql.com/stories/foo-1"
             data-level=""
             data-editable=""
             tabindex="0"
             style="background: rgba(255,255,255,0.75); border: 1px solid #2f1fb5; padding: 10px; cursor: move;">
            <p><strong>Hero Carousel</strong><br>Entry 123</p>
        </div>
        <div style="margin-top: 24px;">
            <div class="btn add icon dashed">Add</div>
        </div>
    </div>
    <div class="fieldlayoutform" style="outline: 1px solid #e3e5e8; min-height: 100px;">
        <div style="background: rgba(255,255,255,0.75); border: 1px solid #2f1fb5; padding: 10px; cursor: move;">
            <p><strong>Cta</strong><br>Entry 123</p>
        </div>
    </div>
</div>

{% js %}
    $('#fields-{{ id }} .btn').on('click', function () {
        Craft.createElementSelectorModal('craft\\elements\\Entry', {
            closeOtherModals: false,
            storageKey: 'fields.foo.123',
            sources: '*',
            criteria: {enabledForSite: null, siteId: 1},
            multiSelect: true,
            showSiteMenu: false,
            disabledElementIds: [],
            onSelect: function (elements) {
                console.log('selected', elements);
            }
        });
    });

    if (!window.once) {
        $(document).on('dblclick', '#fields-foo-entry', function () {
            Craft.createElementEditor('craft\\elements\\Entry', this);
        });
        window.once = true;
    }
{% endjs %}
#}